/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-typeface: 'Inter';
  --decorative-typeface: 'PressStart2P';
  --regular-font-weight: 400;
  --heavy-font-weight: 700;
  --heading-font-weight: 785;
  --heading-font-size: 18px;
  --body-font-size: 18px;
  --body-font-weight: 400;

  --text-primary: #000;
  --surface-primary: #fff;
  --outline-primary: #000;
  --button-text-primary: #000;
  --accent-primary: #000;
  --text-stroke: var(--surface-primary, #ffffff);

  --container-max-width: clamp(23.1875rem, 16.035rem + 30.516vw, 43.75rem);
  --container-padding: 0 clamp(1.25rem, 0.852rem + 1.696vw, 2.5rem);
  --header-max-width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  --header-padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8rem) clamp(0.875rem, -5.0626rem + 25.333vw, 7.531rem);

  --page-background: #fff;
  --page-texture:
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      180deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      180deg,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );

  --motion-smooth: 0.3s ease;
  --motion-quick: 0.2s ease;
  --timing-default: ease;
  --transform-duration: 0.3s;

  --stroke-thickness: 2px;
  --button-stroke: 2px;

  --like-contour: var(--text-primary, #000000);
  --like-fill: none;
  --like-core: #000;
  --like-sparks: #ff0000;
  --like-core-active: #000;
  --like-fill-active: #000;
  --like-contour-active: #000;
  --like-contour-liked: #FF0000;
  --like-sparks-active: #FF0000;
  --like-core-transparent: none;
  --like-fill-transparent: none;
  --like-sparks-transparent: #FF0000;
}
